* {
  color: white;
}

.state {
  display: grid;
  grid-template-columns: auto auto;
}

.state div:nth-child(odd) {
  background-color: rgb(241, 60, 139);
}

.state div:nth-child(even) {
  background-color: rgb(241, 60, 139);
}

.select-dropdown {
  background-color: rgb(241, 60, 139);
}

.country {
  background-color: rgb(249, 85, 153);
}

.map {
  width: 100%;
}

#state-filter {
  color: black;
}

.each-state {
  border: 0.5px dotted rgb(247, 106, 167);
}

@media screen and (min-width: 768px) {
  .state {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .country {
    /* background-color: rgb(200, 4, 89); */
    display: flex;
  }

  .map {
    width: 50%;
  }

  .state div:nth-child(odd) {
    background-color: rgb(241, 60, 139);
  }

  .state div:nth-child(even) {
    background-color: rgb(167, 71, 113);
  }

  .each-state {
    border: none;
  }
}
